<?xml version="1.0" encoding="utf-8"?>
<manifest package="cl.cromer.ubb.attendance"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UBBTheme">
        <activity
            android:name=".SubjectList"
            android:label="@string/app_name"
            android:theme="@style/UBBTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseList"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
        </activity>
        <activity
            android:name=".ClassList"
            android:label="@string/app_name"
            android:parentActivityName=".CourseList"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.CourseList"/>
        </activity>
        <activity
            android:name=".ImportExcel"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
        </activity>
        <activity
            android:name=".ImportPhotos"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
            >
        </activity>
        <activity
            android:name=".TakeAttendance"
            android:label="@string/app_name"
            android:parentActivityName=".ClassList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.ClassList"/>
        </activity>
        <activity
            android:name=".CorrectAttendance"
            android:label="@string/app_name"
            android:parentActivityName=".ClassList"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.ClassList"/>
        </activity>
        <activity
            android:name=".LateStudentAttendance"
            android:label="@string/app_name"
            android:parentActivityName=".ClassList"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.ClassList"/>
        </activity>
        <activity
            android:name=".ClassReport"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
        </activity>
        <activity
            android:name=".CourseReport"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectList"
            android:screenOrientation="portrait"
            android:theme="@style/UBBTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.cromer.ubb.attendance.SubjectList"/>
        </activity>
    </application>

</manifest>
